

.button__block {

}

.myBtn {
    padding: 8px 16px;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 160% */
    text-transform: uppercase;
    border: 1px solid #ECECEC;
    border-radius: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
}


.tabs_box .tab.active,
.tabs_box .tab:hover {
    color: #fff;
    background: #FB527B;
    border-color: transparent;
}
.tabs_box .tab.active {
    color: #fff;
    background: #FB527B;
    border-color: transparent;
}