*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgba(128, 128, 128, 0.288);
  font-family: "Inter", sans-serif;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
  z-index: 100;
}


.back{
  width: 44px;
  height: 44px;
  background-color: #1113;
  border-radius: 100%;
  display: grid;
  place-items: center;
  backdrop-filter: blur(7px);
}

.slider {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: auto;
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 0.5s ease; /* Smooth transition for sliding */
}

.slide {
  flex: 0 0 auto;
}

.slide_btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(17, 17, 17, 0.20);
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  margin: 15px;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  backdrop-filter: blur(10px);
  z-index: 2;
}


.right {
  right: 0;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.slides img{
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
}
.slide {
  height: 500px;
  width: 100%;
  object-fit: cover;
}


.slide_container{
  margin: 0 auto;
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: center;
  position: absolute;
  z-index: 80;
  bottom: 80px;
  margin-bottom: 70px;
}

.swiper {
  overflow: hidden;
  width: auto;
}


.circle{
  width: 8px;
  height: 8px;
  background-color: rgba(255, 255, 255, 0.479);
  border-radius: 50%;
}
.active{
  background-color: white;
}
.loaderContainer {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}
/* content */
.content{
  background-color: #ffffff;
  border-radius: 36px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px;
  position: relative;
  bottom: 60px;
  z-index: 1;
  /* max-width: 425px; */
}
.menu{
  display: flex;
  gap: 8px;
  align-items: flex-start;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 16px;
  font-style: normal;
  margin-bottom: 16px;
  color: white;
  width: fit-content;
  text-align: center;
  font-size: 10px;
  font-family: 'Inter', sans-serif;
}
.bg{
  background-color: #FB527B;
  padding: 4px 8px;
  border-radius: 16px;
}
.content h1{
  color: #454243;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  margin-bottom: 16px;

  line-height: 32px;
  text-transform: uppercase;
}
.text{
  margin-bottom: 16px;

  color: #454243;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* height: 350px; */
  width: 100%;
}

.gift__block {
  border: 1px solid #e1e1e1;
  border-radius: 20px;
  margin-bottom: 15px;
}

.gift__block__container img {
  border: 1px solid rgb(236, 236, 236);
  background-color: rgb(236, 236, 236);
  padding: 5px 5px;
  border-radius: 50px;
  width: 50px;
  height: 50px;
}

.gift__block__container {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px;
}


.gift__block__paragraph {
  font-family: Inter;
  font-size: 15px;
  color: #454243;
  font-weight: 400;
  line-height: 20px;
  max-width: 375px;
}

.time{
  /* height: 52px; */
  margin-bottom: 16px;

}
.adres{
  margin-bottom: 16px;

}
.time, .adres{
  display: flex;

  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}
.work_time{
  color: #454243;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 5px;
}
.day{
  color: #454243;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.more{
  margin-bottom: 16px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}
.silka{
  color: #FB527B;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.btn{
  width: 100%;
  padding: 16px;
  border-radius: 16px;
  text-align: center;
  background: linear-gradient(to right, #FB527B, #FEE03B);
  color: white;
  margin: 0 auto;
  font-style: normal;
  font-weight: 600;
}
.main{
  display: flex;

  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  border-radius: 36px;
  background-color: #fff;
  margin-top: -52px;
}

.contacts {
  margin-bottom: 16px;
}

.contacts__title {
  color: #454243;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 5px;
}

.contacts__number {
  color: #e76767;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.qwe{
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 28px; /* 155.556% */
  text-transform: uppercase;
  color: #454243;
}
.card{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* width: 160px */
}
.asd{
  width: 184px;
  height: 240px;
  border-radius: 16px;
}
@media screen and (max-width: 424px) {
  .asd{
    width: 180px;
    height: 236px;
    border-radius: 16px;
  }
  
}
@media screen and (max-width: 419px) {
  .asd{
    width: 176px;
    height: 232px;
    border-radius: 16px;
  }
  
}
@media screen and (max-width: 405px) {
  .asd{
    width: 172px;
    height: 228px;
    border-radius: 16px;
  }
  
}
@media screen and (max-width: 405px) {
  .asd{
    width: 172px;
    height: 228px;
    border-radius: 16px;
  }
  
}

@media screen and (max-width: 399px) {
  .asd{
    width: 168px;
    height: 224px;
    border-radius: 16px;
  }
  
}

@media screen and (max-width: 389px) {
  .asd{
    width: 164px;
    height: 220px;
    border-radius: 16px;
  }
  
}

@media screen and (max-width: 383px) {
  .asd{
    width: 160px;
    height: 218px;
    border-radius: 16px;
  }
  
}




.btn_btn {
  display: inline-block;
  font-size: 12px;
  font-style: normal;
  line-height: 16px; /* 133.333% */
  text-transform: uppercase;
  width: 100%;
  padding: 16px;
  border-radius: 16px;
  text-align: center;
  background: linear-gradient(to right, #FB527B, #FEE03B);
  color: white;
  margin: 0 auto;
  font-weight: 800;
}

.btn_btn_extra {
  margin-bottom: 15px;
}


.image__card {
  position: relative;
}

.main_like{
  position: absolute;
  padding: 12px;
  top: 10px;
  right: 10px;
  backdrop-filter: blur(7px);
  background-color: #1113;
  border-radius: 100%;
  height: 44px;
}

.main_text{
  margin-top: 8px;
  color: var(--tags, #ABABAB);
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
}
.main_matin{
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.main_sub{
  overflow: hidden;
  color:  #454243;
  text-overflow: ellipsis;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}
.cards{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 16px;
  grid-row-gap:16px;
}

@media (max-width: 361px) {

  .main_like {
    right: -10px;
  }
  .card {
    width: 140px;
  }
  .image__card {
    width: 100%;
  }
  .cards{
    grid-column-gap: 30px;
  }
}