:root {
  --button-color: linear-gradient(to right, #FB527B, #FEE03B );
}

.container{
  /* display: flex;
  flex-direction: column; */
  /* height: 100vh; */
  width: 100%;

}
.position {
  position: absolute;
  height: 24px;
  top: 170px;
  right: 100px;
  width: fit-content;
  /* height: 24px; */
  padding-top: 4px;
  padding-left: 8px;
  padding-right: 8px;
  /* padding: 4px, 8px, 4px, 8px; */
  border-radius: 16px;

  background: rgba(17, 17, 17, 0.2);
  backdrop-filter: blur(5px);
  text-transform: uppercase;

  font-weight: 500;
  line-height: 16px;
  font-size: 10px;
  color: white;
}
.position2{
  position: absolute;
  height: 24px;
  top: 170px;
  right: 80px;
  width: fit-content;
  /* height: 24px; */
  padding-top: 4px;
  padding-left: 8px;
  padding-right: 8px;
  /* padding: 4px, 8px, 4px, 8px; */
  border-radius: 16px;

  background: rgba(17, 17, 17, 0.2);
  backdrop-filter: blur(5px);
  text-transform: uppercase;

  font-weight: 500;
  line-height: 16px;
  font-size: 10px;
  color: white;
}
.fullscreen_input_container {
  /* height: 100vh; */
  border-radius: 36px 36px 0px 0px;

  background: #fff;
  margin-top: 89px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.hiddenLowercase {
  text-transform: capitalize;
  /* Add any additional styling here */
}

.screen_title {
  padding: 20px 20px;
  color: #454243;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 32px;
  text-transform: uppercase;
}

.fullscreen_input {
  border-radius: 16px;
  background: #ececec;
  margin-right: 20px;
  width: 95%;
  height: 40px;
  outline: none;
  padding: 0;
  margin: 0;
  margin-left: 10px;
  padding-left: 35px;
  margin-bottom: 0;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.loop_img {
  position: absolute;
  top: 170px;
  left: 20px;
  width: 20px;
  height: 20px;
}


.back{
  position: fixed;
  width: 44px;
  height: 44px;
  background-color: rgba(17, 17, 17, 0.20);
  border-radius: 100%;
  display: grid;
  place-items: center;
  top: 25px;
  left: 16px;
}


.home {
  position: fixed;
  width: 44px;
  height: 44px;
  background-color: rgba(17, 17, 17, 0.20);
  border-radius: 100%;
  display: grid;
  place-items: center;
  top: 25px;
  right: 16px;
  z-index: 1;
}

.block {
  flex: 1;
  z-index: 1;
}

.searchResultPhoto {
  width: 160px;
  height: 200px;
  border-radius: 16px;
}


@media (min-width: 390px) {
  .searchResultPhoto {
    width: 170px;
    height: 210px;
  }
}

@media (min-width: 400px) {

  .searchResultPhoto {
    width: 170px;
    height: 210px;
  }
}

@media (min-width: 415px) {
  .searchResultPhoto {
    width: 180px;
    height: 220px;
  }
}

.searchResultTitle {
  margin-top: 2px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #454243;
}

.searchResultSubtitle {
  margin-top: 8px;
  color: #ABABAB;
  font-size: 10px;
  font-weight: 700;
  line-height: 16px; /* 160% */
  text-transform: uppercase;
}
.searchResult{
  width: 160px;
  margin: 0 auto;
  /*display: flex;*/
  /*flex-direction: column;*/
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0 auto 20px 0;
}

.paginationInfo {
  /* margin-top: 20px; */
  font-size: 0.8em;
  color: #888;
}
.main{
  background-color: #fff;

}
.card{
  padding: 20px;
  padding-left: 0;
  padding-right: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-rows: repeat(3, 1fr); */
  background: white;
}

@media (min-width: 400px) {
  .card {
    padding-right: 9px;
  }
}

@media (min-width: 415px) {
  .card {
    padding-right: 20px;
  }
}

@media (min-width: 390px) {
  .card {
    padding-right: 10px;
  }
}

@media screen and (max-width: 370px) {
  .card{
    /* grid-template-columns: repeat(1, 1fr); */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .searchResultPhoto{
    width: 200px;
    height: 240px;
  }
  .searchResult{
    width: 200px;
    /* margin: 0 auto; */
  }
  .searchResultSubtitle {
    font-size: 12px;
  }
}


.section__places__button {
  display: flex;
  justify-content: center;
  background-color: #fff;
}

.section__places__btn {
  width: 100%;
  padding: 16px 16px;
  border-radius: 16px;
  background: var(--button-color);
  font-size: 12px;
  font-style: normal;
  font-weight: 800;
  line-height: 16px; /* 133.333% */
  text-transform: uppercase;
  color: #fff;
}



.loader {
  animation: rotate 1s infinite linear;

}
.loadingSpinner{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 52.8vh
}
@keyframes rotate {
  from {
    transform: rotate(0deg) scale(1);
  }
  to {
    transform: rotate(360deg) scale(1.4);
  }
}



.main_like {
  position: relative;
  padding: 12px;

  bottom: -10px;
  left: 108px;
  backdrop-filter: blur(7px);
  background-color: #1113;
  border-radius: 100%;
  height: 44px;
  width: 44px;
  display: inline-block;
}
.asd {
  background-color: #fff;
  width: 100%;
  height: 100vh;
  border-radius: 25px;
}

@media (max-width: 365px) {
  .main_like {
    position: relative;
    padding: 12px;

    bottom: -20px;
    left: 140px;
    background-color: rgba(17, 17, 17, 0.2);
    border-radius: 100%;
    height: 44px;
    width: 44px;
    display: inline-block;
  }
}

@media (max-width: 370px) {
  .main_like {
    top: 10px;
    left: 145px;
  }
}

@media (min-width: 390px) {
  .main_like {
    left: 117px;
  }
}

@media (min-width: 400px) {
  .main_like {
    left: 115px;
  }
}

@media (min-width: 415px) {
  .main_like {
    left: 125px;
  }
}

@media (min-width: 425px) {
  .searchResultPhoto {
    width: 180px;
    height: 220px
  }
  .card {
    padding-right: 20px;
  }

  .main_like {
    left: 124px;
  }
}
