@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    border: 0;
}
*, *:before, *:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus, :active{outline: none;}
a:focus, a:active{outline: none;}

nav,footer,header,aside{display: block;}

html, body{
    height: 100%;
    width: 100%;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea{font-family: inherit;}

button {
    background: transparent;
}

body {
    background: transparent;
}

input::-ms-clear{display:none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style-type: none;}
img{vertical-align: top;}

h1,h2, h3, h4, h5, h6{font-style: inherit; font-weight: 400;}

/* ============================================== */

._container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.overlay {
    flex: 1; /* Растягиваем .overlay, чтобы он занимал все доступное пространство */
    z-index: 1; /* Устанавливаем z-index, чтобы overlay был поверх .wrapper */
}

.wrapper {
    height: 600px;
    border-radius: 36px 36px 0px 0px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    background: #fff;
    z-index: 2; /* Устанавливаем z-index, чтобы .wrapper был поверх .overlay */
}

.loader {
    animation: rotate 1s infinite linear;

}
.loadingSpinner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 52.8vh
}
@keyframes rotate {
    from {
        transform: rotate(0deg) scale(1);
    }
    to {
        transform: rotate(360deg) scale(1.4);
    }
}