/* 
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: "Inter", sans-serif;
  	font-optical-sizing: auto;
	background-color: #ECECEC;
	display: flex;
flex-direction: column;
align-items: flex-start;
gap: 8px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} */



.wrapper {
	overflow-x: hidden;
}

.profile{
	display: flex;
	padding: 20px 0px;
	flex-direction: column;
	align-items: center;
	gap: 15px;
	align-self: stretch;
}

.profile a{
	display: inline-flex;
	align-items: flex-start;
	position: absolute;
	left: 10px;
	top: 10px;
}


.user_images #circle_img{
	width: 116px;
	height: 112px;
	flex-shrink: 0;

	border-radius: 50%;
	background: red;
	background: -webkit-linear-gradient(to right, #FB527B, #FEE03B);
	background: linear-gradient(to right, #FB527B, #FEE03B);
	padding: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.user_images #circle_img img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
	object-fit: cover;
}

.user_images p{
	position: relative;
	display: inline-flex;
	padding: 4px 8px;
	align-items: flex-start;
	color: var(--white, #FFF);
	text-align: center;
	/* tags bttn */
	font-family: Inter;
	font-size: 10px;
	font-style: normal;
	font-weight: 700;
	line-height: 16px; /* 160% */
	text-transform: uppercase;
	border-radius: 16px;
	top: -23px;
	left: 13.5px;
	background-image: linear-gradient(to right, #FB527B , #FEE03B);
}

.user_images {
	margin-right: 5px;
}
.user_date{
	display: grid;
	justify-content: center;
	text-align: center;
	margin-top: -20px;
}

.user_date #user_name{
	color: #454243;
	text-align: center;
	font-family: Inter;
	font-size: 24px;
	font-style: normal;
	font-weight: 800;
	line-height: 32px;
	text-transform: uppercase;
	margin-top: -1px;
}
.user_date #user_tag{
	color: var(--tags, #ABABAB);
	text-align: center;
	font-family: Inter;
	font-size: 10px;
	font-style: normal;
	font-weight: 700;
	line-height: 16px;
	text-transform: uppercase;
	margin-left: -1px;
	margin-top: 3px;
}



/* BLOCK SAVED */

.cont {
	width: 100%;
	padding-right: 20px;
}

.saved{
	display: flex;
	width: 100%;
	padding: 5% 5.5%;
	flex-direction: column;
	gap: 16px;
	border-radius: 36px;
	background: var(--white, #FFF);
	margin: 1px auto 0 auto;
}

.saved .texxt_title{
	display: flex;
	align-items: flex-start;
	gap: 8px;
	align-self: stretch;
}

.saved .texxt_title h2{
	color: #454243;

	font-family: Inter;
	font-size: 18px;
	font-style: normal;
	font-weight: 800;
	line-height: 28px; /* 155.556% */
	text-transform: uppercase;
	position: relative;
	top: 1px;
	left: -1px;
}

.saved .texxt_title span{
	color: var(--pimky, #FB527B);

	/* h2 */
	font-family: Inter;
	font-size: 18px;
	font-style: normal;
	font-weight: 800;
	line-height: 28px; /* 155.556% */
	text-transform: uppercase;
	margin-top: 1px;
}



.list_saved{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin: -1px auto 0 auto;
	flex-wrap: wrap;
	grid-gap: 16px;
	padding-right: 4px;
}


.block_saved {
	border-color: #ececec;
	gap: 8px;
	border-radius: 16px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	position: relative;
	text-align: center;
	max-width: 160px;
}

.like_icon {
	position: absolute;
	top: 8px;
	right: 8px;
	padding: 12px;
	backdrop-filter: blur(7px);
	background-color: #1113;
	border-radius: 100%;
}


.block_saved p{
	color: var(--tags, #ABABAB);
	/* tags bttn */
	font-family: Inter;
	font-size: 10px;
	font-style: normal;
	font-weight: 700;
	line-height: 16px; /* 160% */
	text-transform: uppercase;
}

.block_saved h2{
	display: -webkit-box;
	align-self: stretch;

	overflow: hidden;
	color: #454243;
	text-overflow: ellipsis;
	white-space: normal;
	word-wrap: break-word;
	/* txt med bold */
	font-family: Inter;
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: 20px;
	text-align: left;
	margin-top: -6px;
}



.but{
	display: flex;
	padding: 16px;
	justify-content: center;
	align-items: center;
	align-self: stretch;
	border-radius: 16px;
	background-image: linear-gradient(to right, #FB527B , #FEE03B);
	margin-right: 2px;
	color: var(--white, #FFF);
	text-align: center;
	/* bttn med */
	font-family: Inter;
	font-size: 12px;
	font-style: normal;
	font-weight: 800;
	line-height: 16px; /* 133.333% */
	text-transform: uppercase;
}



.invite{
	position: relative;
	display: flex;
	width: 100%;
	padding: 5% 5.5%;
	flex-direction: column;
	align-items: flex-start;
	gap: 16px;
	border-radius: 36px;
	background: #FFF;
	margin: 10px auto 0 auto;
	left: 3px;
}

.invite img{
	position: relative;
	margin: 8px auto 0 auto;
	justify-content: center;
	right: 4px;
}

.invite p{
	color: var(--, #454243);

	font-family: Inter;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
}

.invite h2{
	color: #454243;
	font-family: Inter;
	font-size: 18px;
	font-style: normal;
	font-weight: 800;
	line-height: 28px;
	text-transform: uppercase;
}

#hrefTG{
	display: flex;
	padding: 16px;
	justify-content: center;
	align-items: center;
	align-self: stretch;
	border-radius: 16px;
	background-color: #ececec;
	margin-right: 3px;
	text-align: center;
	font-style: normal;

	font-family: Inter;
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
	color: #454243;
	flex: 1 0 0;
}


.saved_img{
	width: 160px;
	height: 200px;
	border-radius: 16px;
	object-fit: cover;
}

@media (min-width: 390px) {
	.list_saved {
		column-gap: 25px;
	}

	.saved_img {
		width: 170px;
		height: 210px;
	}

	.like_icon {
		right: 0px;
	}
}

@media (min-width: 400px) {
	.list_saved {
		column-gap: 30px;
	}

	
}

@media (min-width: 410px) {

	.list_saved {
		column-gap: 30px;
	}
	.saved_img {
		height: 230px;
	}

	.like_icon {
		right: -0px;
	}
}

@media (min-width: 420px) {

	.list_saved {
		column-gap: 40px;
	}

	.saved_img {
		height: 240px;
	}

	.like_icon {
		right: -0px;
	}
}


@media screen and (max-width: 369px) {
	.list_saved{
		display: grid;
		grid-template-columns: 1fr;
		grid-column-gap: 0px;
		grid-row-gap: 18px;
		width: 250px;
		padding: 0;
	}

	.saved_img{
		width: 250px;
		height: 290px;

	}
	.like_icon{
		position: absolute;
		right: -76px;
		top: 15px;
		width: 50px;
		height: 50px;
	}
}


.loader {
	animation: rotate 1s infinite linear;
}
.loadingSpinner{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
@keyframes rotate {
	from {
		transform: rotate(0deg) scale(1);
	}
	to {
		transform: rotate(360deg) scale(1.4);
	}
}
