@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.header {
    width: 100%;
    padding: 20px;
}
.header__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 100
}
.header__icon {
    padding: 12px;
    height: 44px;
    padding-bottom: 0;
    border-radius: 16px;
    border-radius: 44px;
    background: rgba(17, 17, 17, 0.2);
    backdrop-filter: blur(6.111111164093018px);
}

.main {
    padding: 20px;
    background-color: #fff;
    border-radius: 36px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 45px;
}

.mod {
    margin-right: 38px;
}

.title {
    color: #454243;
    font-weight: 800;
    font-size: 24px;
    line-height: 32px;
    text-transform: uppercase;
}
.nearPlace {
    border-radius: 16px;
    border: 1px solid #ececec;
    padding: 16px;
    /* width: 335px; */
    /* margin: 0 auto; */
    /* font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      font-family: 'Inter', sans-serif;
      color: #454243; */
    /* width: 335px; */
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    font-family: "Inter";
}
.nearPlace span {
    color: #fb527b;
}

.cards {
    display: grid;
    grid-template-columns: repeat(2, minmax(160px, 1fr));
    column-gap: 16px;
    /* height: 200px; */
}
.dzhigi{
    padding:0 ;
}
.isha{
    padding-right:0 ;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    gap: 4px;
}
.asd {
    width: 100%;
    height: 200px;
    border-radius: 16px;
    /* height: 220px; */
}



@media (min-width: 390px) {
    .asd {
        height: 205px;
    }
}

@media (min-width: 395px) {
    .asd {
        height: 210px;
    }
}

@media (min-width: 405px) {
    .asd {
        height: 220px;
    }
}





.mainLike {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 12px;
    backdrop-filter: blur(7px);
    background-color: #1113;
    border-radius: 100%;
}
.position {
    position: relative;
    height: 24px;
    width: fit-content;
    /* height: 24px; */
    bottom: 36px;
    left: 10px;
    padding-top: 4px;
    padding-left: 8px;
    padding-right: 8px;
    /* padding: 4px, 8px, 4px, 8px; */
    border-radius: 16px;

    background: rgba(17, 17, 17, 0.2);
    backdrop-filter: blur(5px);
    text-transform: uppercase;

    font-weight: 500;
    line-height: 16px;
    font-size: 10px;
    color: white;
}

@media (max-width: 385px) {
    .position {
        font-size: 9px;
    }
}

.mainText {
    color:  #ababab;
    color: #ABABAB;
    font-size: 10px;
    font-weight: 700;
    line-height: 16px; /* 160% */
    text-transform: uppercase;
    width: 100%;

}
.mainMatin {
    display: flex;
    flex-direction: column;
    gap: 2px;
    position: relative ;
    bottom: 23px;

}
.mainSub {
    overflow: hidden;
    color: #454243;
    text-overflow: ellipsis;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
}

.extra__information {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}


@media screen and (max-width: 370px) {
    .cards {
        grid-template-columns: repeat(1, 1fr);
    }

    .extra__information {
        gap: 0px;
        justify-content: space-between;
        margin-right: 20px;
    }

    .asd {
        height: 300px;
    }
}

.but{
    display: flex;
    padding: 16px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: 16px;
    background-image: linear-gradient(to right, #FB527B , #FEE03B);
    margin-right: 2px;
    color: var(--white, #FFF);
    text-align: center;
    /* bttn med */
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 800;
    line-height: 16px; /* 133.333% */
    text-transform: uppercase;
}

.spanned {
    grid-row: span 1;
    grid-column: span 2;
    height: 240px;
}